@page "/"
<PageTitle>Account</PageTitle>

<div class="container">
    @if (!WalletConnected)
    {
        <div class="d-flex flex-column justify-content-center mt-5">
            <h3 class="text-center mb-4">Please connect to a wallet</h3>
            <div class="btn btn-primary btn-lg px-4 mx-auto" data-bs-toggle="modal" data-bs-target="#WalletConnectionsModal">Login</div>
        </div>
    }
    else
    {
        <div class="d-flex flex-column justify-content-center mt-4">
            @if (AccountContainer.Account != null)
            {
                <div class="d-flex flex-column p-4 panel mx-auto mw-600 mb-5">
                    <h4 class="mb-2">Wallet address:</h4>
                    <span class="font-monospace text-break mb-3">@AccountContainer.Account.Address</span>
                    <div class="d-flex justify-content-start align-items-center mt-3">
                        <div>EGLD Balance: <span>@AccountContainer.Account.Balance.ToCurrencyString(4)</span></div>
                        <button class="btn btn-light btn-sm shadow-none ms-3" @onclick="NewTxExecuted">Sync</button>
                    </div>
                </div>

                <div class="d-flex flex-column p-4 panel mx-auto mw-600 mb-5">
                    <span class="fw-bold my-2">Sign Message:</span>
                    <input type="text" @bind="@SignableMessageText" />
                    <button class="btn btn-primary mx-auto mt-4" @onclick="SignMessage">Sign message</button>
                </div>

                @if (AccountContainer.AccountTokens != null)
                {
                    <div class="d-flex flex-column p-4 panel mx-auto mw-600 mb-5">
                        <h4 class="mb-2">Account tokens:</h4>
                        @foreach (var token in AccountContainer.AccountTokens)
                        {
                            <span class="m-1 ms-3">@token.Name: @token.Balance.ToDenominated(4) @token.Identifier</span>
                        }
                    </div>
                }

                <div class="d-flex flex-column p-4 panel mx-auto mw-600 mb-5">
                    <h4 class="mb-3">Send EGLD:</h4>
                    <span class="fw-bold my-2">Receiver:</span>
                    <input class="mb-2" type="text" @bind="@Receiver" />
                    <span class="fw-bold my-2">EGLD:</span>
                    <input type="text" @bind="@EGLDAmount" />
                    <span class="fw-bold my-2">Message (optional):</span>
                    <input type="text" @bind="@Message" />
                    <button class="btn btn-primary mx-auto mt-4" @onclick="SignTransaction">Send EGLD</button>
                </div>

                <div class="d-flex flex-column p-4 panel mx-auto mw-600 mb-5">
                    <h4 class="mb-3">Send Token:</h4>
                    <span class="fw-bold my-2">Receiver:</span>
                    <input class="mb-2" type="text" @bind="@ReceiverToken" />
                    <span class="fw-bold my-2">Token Identifier:</span>
                    <input type="text" @bind="@TokenIdentifier" placeholder="e.g. TOKEN-123456" />
                    <span class="fw-bold my-2">Amount:</span>
                    <input type="text" @bind="@TokenAmount" placeholder="e.g. 10.5" />
                    <button class="btn btn-primary mx-auto mt-4" @onclick="SignTokenTransaction">Send Token</button>
                </div>

                <div class="d-flex flex-column p-4 panel mx-auto mw-600 mb-5">
                    <h4 class="mb-3">Send Multiple NFTs:</h4>
                    <span class="fw-bold my-2">Receiver:</span>
                    <input class="mb-2" type="text" @bind="@ReceiverNft" />
                    <span class="fw-bold mt-2">NFTs Identifier:</span>
                    <div class="d-flex align-items-center mb-2" b-nb5gpmrray="">
                        <em class="fw-normal me-1" b-nb5gpmrray="">*separated by comma</em>
                        <div class="badge text-bg-secondary px-2" b-nb5gpmrray="">,</div>
                    </div>
                    <input type="text" @bind="@NftsIdentifier" placeholder="e.g. NFT-123456-01" />
                    <button class="btn btn-primary mx-auto mt-4" @onclick="SignNftTransaction">Send multiple NFTs</button>
                </div>
            }
        </div>
    }
</div>
